<div fxLayout="column" fxLayoutAlign="space-between center">
        <div class="adjust">

        </div>
        <div class="bSection" fxLayout="row" fxLayoutGap="20px">
                <a class="aaa" href="//www.dell.com/learn/us/en/uscorp1/site-terms-of-use-copyright"><span class="textt"> © 2019 Dell</span></a>
                <a href="//www.dell.com/learn/us/en/uscorp1/terms-of-sale"><span class="textt">Terms of Sale </span></a>
                <a href="//www.dell.com/learn/us/en/uscorp1/policies-privacy"><span class="textt">Privacy Statement</span></a>
                <a href="//www.dell.com/learn/us/en/uscorp1/policies-ads-and-emails"><span class="textt">Ads &amp; Emails</span></a>
                <a href="//www.dell.com/learn/us/en/uscorp1/terms"><span class="textt">Legal &amp; Regulatory</span></a>
                <a href="//www.dell.com/learn/us/en/uscorp1/cr"><span class="textt">Corporate Social Responsibility</span></a>
                <a href="//www.dell.com/support/contents/us/en/04/category/Contact-Information"><span class="textt">Contact Us</span></a>
                <a href="#" class="toolbar_feedback opinionlabhtml" style="display: inline;"><span class="textt">Feedback</span></a>
        
        </div>
      </div>

<!-- <footer id="footer" class="footer-menu">
   
        <div class="footer-bottom-section">
            <div class="menu-container">
                <div class="w3-display-center,">
                        <div fxLayout="row" class="menu-links" fxLayoutGap="20px">
                                <a href="//www.dell.com/learn/us/en/uscorp1/site-terms-of-use-copyright">© 2019 Dell</a>
                                <a href="//www.dell.com/learn/us/en/uscorp1/terms-of-sale">Terms of Sale</a>
                                <a href="//www.dell.com/learn/us/en/uscorp1/policies-privacy">Privacy Statement</a>
                                <a href="//www.dell.com/learn/us/en/uscorp1/policies-ads-and-emails">Ads &amp; Emails</a>
                                <a href="//www.dell.com/learn/us/en/uscorp1/terms">Legal &amp; Regulatory</a>
                                <a href="//www.dell.com/learn/us/en/uscorp1/cr">Corporate Social Responsibility</a>
                                <a href="//www.dell.com/support/contents/us/en/04/category/Contact-Information">Contact Us</a>
                                <a href="#" class="toolbar_feedback opinionlabhtml" style="display: inline;">Feedback</a>
                        </div>
                </div>
            </div>
        </div>
        
    </footer> -->




<!-- 
    <div class="footer-bottom-section">
            <div class="menu-container">
                <div class="menu-links-container">
                    <ul class="menu-links">
                                <a href="//www.dell.com/learn/us/en/uscorp1/site-terms-of-use-copyright"><li>© 2019 Dell</li></a>
                                <a href="//www.dell.com/learn/us/en/uscorp1/terms-of-sale"><li>Terms of Sale</li></a>
                                <a href="//www.dell.com/learn/us/en/uscorp1/policies-privacy"><li>Privacy Statement</li></a>
                                <a href="//www.dell.com/learn/us/en/uscorp1/policies-ads-and-emails"><li>Ads &amp; Emails</li></a>
                                <a href="//www.dell.com/learn/us/en/uscorp1/terms"><li>Legal &amp; Regulatory</li></a>
                                <a href="//www.dell.com/learn/us/en/uscorp1/cr"><li>Corporate Social Responsibility</li></a>
                                <a href="//www.dell.com/support/contents/us/en/04/category/Contact-Information"><li>Contact Us</li></a>
                                <a href="#" class="toolbar_feedback opinionlabhtml" style="display: inline;"><li>Feedback</li></a>
                    </ul>
    
                </div>
            </div>
        </div> -->