<div class="w3-display-container">


        <mat-card-title class="title">Follow-Up
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>


        <div class="w3-row">
                <div class="w3-display-center">
                        <p>
                                After you submit this report you will be issued a 
                                10-digit “Report Key”. Using this report key you 
                                will be able to access the Follow-Up functionality 
                                of this report.
                        </p>
                        <p>Follow-Up will allow you to:</p>
                            <ul>
                                <li>Upload/Attach documents to this report</li>
                                <li>Respond to follow-up questions/comments</li>
                                <li>Provide additional information</li>
                            </ul>
                        </div>
                </div>
        </div>