@import "https://www.w3schools.com/w3css/4/w3pro.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.w3-display-center{
    padding-left:40px;
    display:inline-block;
   
}

.w3-display-container{
    width: 50%;
    border-block-end-color: rgb(247, 12, 12);
    border-bottom-color: blue;
}

.tp-radio-button{
    /* padding-left:30px; */
    margin-left: 16px;
}

.title{
    color: blue;
   
    font-family: times, Times New Roman, times-roman, georgia, serif;
   font-size: 28px;
   line-height: 40px;
   letter-spacing: -1px;
    
  }
  .titleSub{
    font-size: 15px;
    letter-spacing: -1px;
  }


table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}
 
th.mat-header-cell {
    text-align: left;
    max-width: 500px;
}

 td,th {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 4px;
  }
  table {
    border: 2px solid black;
  }

  .h{
      border: none;
      padding-left: 0px;
      padding-right: 0px;
      display:inline-block; 
  }

  .agencyCL,.addrsCL{
    padding-bottom: 15px;
    padding-top: 0px;
    padding-right: 20px;
    width: 550px;
    display:inline-block; 
}

.typeCL,.agencyCL,.cityCL,.stateCL,.zipCL
,.fName,.miCL,.lName,.badgeCL{
 padding-bottom: 25px;
 padding-right: 20px;
 display:inline-block; 
}

.phoneCL,.infoEmail{
 padding-bottom: 25px;
 padding-right: 20px;
 width: 250px;
 display:inline-block; 
}

.miCL,.prefixCL{
    width: 100px;
   }
.panel{
 background: rgb(62, 62, 229)
}