<div class="container">
<div class="w3-col">
    <div class="w3-row m1">
        <logged-by-component></logged-by-component>
    </div>

    <div class="w3-row m1">
        <reported-by-component></reported-by-component>
    </div>

    <div class="w3-row m1">
        <location-component></location-component>
    </div>

    <div class="w3-row m1">
        <details-component></details-component>
    </div>

    <div class="w3-row m1">
        <participants-component></participants-component>
    </div>

    <div class="w3-row m1">
        <agencies-component></agencies-component>
    </div>

    <div class="w3-row m1">
        <vechicles-component></vechicles-component>
    </div>

    <!-- <div class="w3-row m1">
        <follow-up-component></follow-up-component>
    </div> -->

    <div class="w3-row m1">
        <submit-component></submit-component>
    </div>

</div>
</div>