<div class="w3-display-container">


        <mat-card-title class="title">Submit
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>


        <div class="w3-row">
                <div class="w3-display-center">
                        <tr>
                                <!-- <mat-form-field class="CancelCL">
                                        <button mat-raised-button>Cancel</button>
                                </mat-form-field>
                                 <button class="PrintCL"  mat-raised-button>Print</button>
                                <button class="SubmitCL"  mat-raised-button>Submit</button> 
                                <mat-form-field class="PrintCL">
                                        <button mat-raised-button>Print</button>
                                </mat-form-field>
                                <mat-form-field class="SubmitCL">
                                        <button mat-raised-button>Submit</button>
                                </mat-form-field> -->
                                <td class="CancelCL">
                                        <button mat-raised-button>Cancel</button>
                                </td>
                                <td class="PrintCL">
                                        <button  mat-raised-button>Print</button>
                                </td>
                                <td class="SubmitCL" >
                                        <button mat-raised-button>Submit</button>
                                </td>
                        </tr>
                </div>
        </div>
</div>