
.w3-display-center{
    padding-left:40px;
    display:inline-block;
   
}

.w3-display-container{
    width: 50%;
    border-block-end-color: rgb(247, 12, 12);
    border-bottom-color: blue;
}

.title{
  color: blue;
 
  font-family: times, Times New Roman, times-roman, georgia, serif;
 font-size: 28px;
 line-height: 40px;
 letter-spacing: -1px;
  
}

.PrintCL,.SubmitCL{
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: 20;
    padding-right: 20;
    /* padding-right: 20px; */
    /* width: 275px; */
  }

.CancelCL{
    padding-right: 75px;
}

