<div class="w3-display-container">
        <mat-card-title class="title">Location/Facility</mat-card-title>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>

        <div class="w3-row">
                <div class="w3-display-center">
                        <tr>
                                <label class="clLocationFrame" id="lbllocation">
                                Did the incident/concern occur at a company facility, or other location?</label>
                        </tr>

                        <tr>
                                <mat-radio-group class="tp-radio-group" [formControl]="fmLocationRadioBtn"
                                        [(ngModel)]="favoriteSeason">
                                        <mat-radio-button class="tp-radio-button" *ngFor="let site of sites"
                                                [value]="site">
                                                {{site}}
                                        </mat-radio-button>
                                </mat-radio-group>
                        </tr>
                        <div class="tp-selected-value">
                                Selected Site: {{favoriteSeason}}
                        </div>
                </div><br>
                <label class="details" for="lAddr">Location</label><br>

                <div class="w3-display-center">
                        <!-- <label class="place-text">Please select Country and State</label> -->


                        <mat-form-field class="country" appearance="outline">

                                <mat-label class="lblRelation">Country</mat-label>
                                <mat-select [(value)]="selected" [formControl]="fmCountry" placeholder="Select value"
                                        required>
                                        <mat-option *ngFor="let country of countries" [value]="country">
                                                {{country.viewValue}}
                                        </mat-option>
                                </mat-select>
                                <mat-error *ngIf="fmCountry.hasError('required')">
                                        Country is <strong>required</strong>, please select one
                                </mat-error>
                        </mat-form-field>


                        <mat-form-field class="state" appearance="outline">

                                <mat-label class="lblRelation">State/Province</mat-label>
                                <mat-select [(value)]="selected" [formControl]="fmState" placeholder="Select value"
                                        required>
                                        <mat-option *ngFor="let state of states" [value]="state">
                                                {{state.viewValue}}
                                        </mat-option>
                                </mat-select>
                                <mat-error *ngIf="fmState.hasError('required')">
                                        State/Province is <strong>required</strong>, please select one
                                </mat-error>
                        </mat-form-field>

                </div>
                <mat-divider></mat-divider>
                <label class="details" for="lAddr">Address</label>
                <br>
                <div class="w3-display-center">

                        <mat-form-field class="adrr" appearance="outline">
                                <mat-label class="lblAdr">
                                        <mat-icon matSuffix>mode_edit</mat-icon> Street Address
                                </mat-label>
                                <input matInput type="text" [formControl]="fmAdr" placeholder="Type Address"
                                        [(ngModel)]="valueAdr">
                                <button mat-button *ngIf="valueAdr" matSuffix mat-icon-button aria-label="Clear"
                                        (click)="valueAdr=''">
                                        <mat-icon>close</mat-icon>
                                </button>
                                <mat-hint>please type Address</mat-hint>
                        </mat-form-field>
                        <br>

                        <mat-form-field class="adr" appearance="outline">
                                <mat-label class="lblCity">
                                        <mat-icon matSuffix>mode_edit</mat-icon> City
                                </mat-label>
                                <input matInput type="text" [formControl]="fmCity" required placeholder="Type City"
                                        [(ngModel)]="valueCity">
                                <button mat-button *ngIf="valueCity" matSuffix mat-icon-button aria-label="Clear"
                                        (click)="valueCity=''">
                                        <mat-icon>close</mat-icon>
                                </button>
                                <mat-error *ngIf="fmCity.hasError('required')">
                                        City is <strong>required</strong>
                                </mat-error>
                                <mat-hint>please type City</mat-hint>
                        </mat-form-field>

                        <mat-form-field class="adr" appearance="outline">
                                <mat-label class="lblZip">
                                        <mat-icon matSuffix>mode_edit</mat-icon> Zip/Pst. Code
                                </mat-label>
                                <input matInput type="text" [formControl]="fmZip" placeholder="Type Zip Code"
                                        [(ngModel)]="valueZip">
                                <button mat-button *ngIf="valueZip" matSuffix mat-icon-button aria-label="Clear"
                                        (click)="valueZip=''">
                                        <mat-icon>close</mat-icon>
                                </button>
                                <mat-hint>please type Zip Code</mat-hint>
                        </mat-form-field>


                </div>
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>
                <div>
                        <div class="w3-display-center">

                                <mat-form-field class="phy-form-location" appearance="outline"
                                        hintLabel="(Examples: In the employee break room; On the rear loading dock; Outside on the sidewalk in front of the company sign, etc…)">
                                        <mat-label class="lblZip">
                                                <mat-icon matSuffix>mode_edit</mat-icon> Physical Location
                                        </mat-label>
                                        <textarea class="texLocation" matInput #input maxlength="256"
                                                placeholder="Where did this incident/concern occur?"
                                                [formControl]="location" required></textarea>

                                        <mat-hint align="end">{{input.value?.length || 0}}/256</mat-hint>
                                </mat-form-field>
                        </div>
                </div>

                <mat-divider></mat-divider>
                <mat-divider></mat-divider>

        </div>



</div>